@*@model IEnumerable<StoreAPI.Models.mProductCategory>*@

@{
    ViewData["Title"] = "Product Panel";
}

<div class="row">
    <div class="col-6">
        <div class="pagetitle">
            <h1>@ViewData["Title"]</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Components</li>
                    <li class="breadcrumb-item active">Breadcrumbs</li>
                </ol>
            </nav>
        </div><!-- End Breadcrumbs with a page title -->
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-square-fill"></i>
            &nbsp; Add Product
        </a>
        <a asp-controller="Product" asp-action="Details" class="btn btn-success">
            <i class="bi bi-plus-square-fill"></i>
            &nbsp; OJO
        </a>
    </div>
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Preview</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Sold</th>
            <th scope="col">Revenue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
            <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
            <td>$64</td>
            <td class="fw-bold">124</td>
            <td>$5,828</td>
        </tr>
        <tr>
            <th scope="row"><a href="#"><img src="assets/img/product-2.jpg" alt=""></a></th>
            <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
            <td>$46</td>
            <td class="fw-bold">98</td>
            <td>$4,508</td>
        </tr>
        <tr>
            <th scope="row"><a href="#"><img src="assets/img/product-3.jpg" alt=""></a></th>
            <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
            <td>$59</td>
            <td class="fw-bold">74</td>
            <td>$4,366</td>
        </tr>
        <tr>
            <th scope="row"><a href="#"><img src="assets/img/product-4.jpg" alt=""></a></th>
            <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
            <td>$32</td>
            <td class="fw-bold">63</td>
            <td>$2,016</td>
        </tr>
        <tr>
            <th scope="row"><a href="#"><img src="assets/img/product-5.jpg" alt=""></a></th>
            <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
            <td>$79</td>
            <td class="fw-bold">41</td>
            <td>$3,239</td>
        </tr>
    </tbody>
</table>