@model ClasificacionPeliculas.Models.PersonalInformation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonalInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label" for="CountryList">Country</label>
                <select class="form-control" asp-items="ViewBag.GeonameidCountry" id="CountryList">
                    <option value="-1">--Selecciona País--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="RegionList">Region</label>
                <select class="form-control" id="RegionList">
                    <option value="-1">--Seleccionar Region--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="CityList">City</label>
                <select asp-for="GeonameidCity" class="form-control" id="CityList">
                    <option value="-1">--Seleccionar Ciudad--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(
            function () {
                $("#CountryList").on("change", function () {
                    $.ajax({
                        type: "Post",
                        url: "/PersonalInformations/GetRegions",
                        data: { "CountryGeonameId": $("#CountryList").val() },
                        success: function (response) {
                            var items = '<option value="-1">--Seleccionar Region--</option>';
                            $(response).each(function () {
                                items += "<option value=" + this.value + ">" + this.text + "</option>";
                            })
                            $("#RegionList").html(items);
                        }
                    })
                }),
                    $("#RegionList").on("change", function () {
                        $.ajax({
                            type: "Post",
                            url: "/PersonalInformations/GetCities",
                            data: { "RegionGeonameId": $("#RegionList").val() },
                            success: function (response) {
                                var items = '<option value="-1">--Seleccionar Ciudad--</option>';
                                $(response).each(function () {
                                    items += "<option value=" + this.value + ">" + this.text + "</option>";
                                })
                                $("#CityList").html(items);
                            }
                        })
                    })
            }
        )
    </script>
}
